h1 {
  font-size: 34px;
  color: #002833;
  text-align: center;
  font-family: Roboto Condensed;
  font-weight: 700;
  font-style: normal;
}

p {
  font-size: 16px;
  line-height: 1.875;
  font-weight: 400;
  color: #6e6e6e;
}

.input {
  width: 100%;
  max-width: 100%;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  padding: 8px 20px;
  font-family: inherit;
  border: 0;
  background: transparent;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  background: #f3f5fe;
}

.btn {
  border-radius: 2px;
  line-height: 18px;
  font-size: 15px;
  background-color: #419bf9;
  color: #fff;
}